{% extends '@App/blocks/body.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@AppBundle/Resources/public/css/game/game.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/_game.controller.js'
    '@AppBundle/Resources/public/js/prototypes/core/game.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/player.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/battlefield.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/cell.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/cell.container.prototype.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div id="game-area" data-turn-link="{{ path('worldstores/battleship/turn') }}" data-start-link="{{ path('worldstores/battleship/start') }}"></div>
    <div id="debug-area"></div>
    <div id="stats-area"></div>
{% endblock %}