{% extends '@App/blocks/body.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    '@AppBundle/Resources/public/css/game/game.css'
    '@AppBundle/Resources/public/css/game/statistics.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/prototypes/api/api.mgr.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/statistics/statistics.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/game/cell.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/game/cell.container.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/game/battlefield.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/game/player.prototype.js'
    '@AppBundle/Resources/public/js/prototypes/core/game/game.prototype.js'
    '@AppBundle/Resources/public/js/_game.controller.js'
    '@AppBundle/Resources/public/js/_statistics.controller.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div id="game-area" data-turn-link="{{ path('battleship.game.api.turn') }}"
                        data-start-link="{{ path('battleship.game.api.start') }}">
    </div>
    <div id="modal-area">
    </div>
    <div id="stats-area" data-stats-link="{{ path('battleship.game.api.statistics') }}"></div>
    <div id="debug-area">
        <span class="page-header">for debugging purposes</span>
        <div class="debug-content"></div>
    </div>
{% endblock %}