{% extends '@Game/blocks/body.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/game/css/game/game.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/game/css/game/statistics.css') }}" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/api/api.mgr.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/core/statistics/statistics.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/core/game/cell.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/core/game/cell.container.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/core/game/battlefield.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/core/game/player.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/prototype/core/game/game.prototype.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/_game.controller.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/game/js/_statistics.controller.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="game-area" data-turn-link="{{ path('battleship.game.api.turn') }}" data-init-link="{{ path('battleship.game.api.init') }}"></div>
    <div id="modal-area"></div>
    <div id="stats-area" data-stats-link="{{ path('battleship.game.api.statistics', {'page' : 0})|trim('0') }}"></div>
{% endblock %}
